@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'General Sans';
  src: url('/assets/fonts/general-sans.ttf') format('truetype');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color: #343434;
  font-family: General Sans, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    color: #e8e8e8;
    background: #131313;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    color: #343434;
    background: #e8e8e8;
  }
}


body {
  /*background: #131313;*/

}
